.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-bottom: 2rem;
}

footer p {
  margin-bottom: .25rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #359fd1;
}

a {
    color: #359fd1;
    text-decoration: none;
    background-color: transparent;
}

.btn-outline-primary {
    color: #359fd1;
    border-color: #359fd1;
}

.banner-animado img {
    margin: -25px auto 6px 0;
    width: 100%;
    height: auto;
    display: block;
    background: #ddd;
    border-bottom: 6px solid #359fd1;
    text-align: center;
}